# See https://setuptools.pypa.io/ for more info on how to perform setup.

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pyosirix_example_project"
version = "0.0.1-dev0"
description = "An example of a Python project that can be used to install into OsiriX"
authors = [
    { name = "Matthew Blackledge", email = "matthew.blackledge@icr.ac.uk" }
]

[tool.setuptools]
packages = ["package_1", "package_2"]

# Custom command to handle post-install tasks
[tool.setuptools.commands]
install = "your_custom_install.CustomInstallCommand"
